[Unit]
Description={{ app_name }} service
ConditionFileIsExecutable=/usr/local/bin/{{ app_name }}
After=network.target

[Service]
Type=simple
User={{ app_name }}
Group={{ app_name }}
LimitNOFILE=1024

Restart=on-failure
RestartSec=30
StartLimitInterval=100
StartLimitBurst=3

WorkingDirectory=/etc/{{ app_name }}/
ExecStart=/usr/local/bin/{{ app_name }}
Environment='APP_ENVIRONMENT=production'

# make sure log directory exists and owned by rsyslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/{{ app_name }}
ExecStartPre=/bin/chown root:{{ app_name }} /var/log/{{ app_name }}
ExecStartPre=/bin/chmod 755 /var/log/{{ app_name }}
StandardOutput=append:/var/log/{{ app_name }}/access.log
StandardError=append:/var/log/{{ app_name }}/error.log
SyslogIdentifier={{ app_name }}

[Install]
WantedBy=multi-user.target